.badge {
    position: relative;
    width: max-content;
  }
  
  .badge-btn {
    background: none;
    border: none;
    color: rgb(16, 136, 184);
    font-size: 2rem;
    position: relative;
    margin-right: 1rem;
  }
  
  .badge-text {
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(60%, -30%);
    width: 1.5rem;
    color: var(--red-color);
    display: flex;
    font-size: 1rem;
    justify-content: center;
    padding: 1.2rem;
    
  }
  
  .badge-status {
    border: thin solid var(--secondary-color);
    border-radius: 50%;
    bottom: 0;
    height: 1.3rem;
    position: absolute;
    right: 5%;
    
    width: 1.3rem;
  }

  .badge-status1{
    background-color:var(--green-color);
  }
  .badge-status2{
    background-color: var(--red-color);
  }
