.grid-container {
    display: grid;
    gap: 10px;
    background-color: var(--blue-color);
    padding: 10px;
  }
  
  .grid-item {
    background-color: var(--cover-color);
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }
  
  .item11 {
    grid-column: 1 / span 1;
    grid-row: 1;
  }
  
  .item12 {
    grid-column: 2;
    grid-row: 1;
  }
  
  .item21 {
    grid-column: 1 / span 1;
    grid-row: 1;
  }
  
  .item22 {
    grid-column: 2;
    grid-row: 1;
  }
  .item23 {
    grid-column: 3;
    grid-row: 1;
  }