.modal {
  
    left: 0;
    top: 0;
    width: 100%; 
    overflow: auto;
  
  }
  
  .modal-content {
    background-color: var(--cover-color);
    margin: auto;
    padding: 20px;
    border: 1px solid var(--dark-color);
    width: 80%;
  }