
@import url("css/avatar.css");
@import url("css/alert.css");
@import url("css/badge.css");
@import url("css/button.css");
@import url("css/card.css");
@import url("css/image.css");
@import url("css/input.css");


:root{
    --primary-color: rgb(81, 97, 116);
    --secondary-color:white;
    --cover-color:rgb(224, 222, 222);
}



* {
    box-sizing: border-box;
  }
  

  body {
    font-family: Arial;
    margin: 0;
    background-image: linear-gradient(#818da7, rgb(245, 173, 173));
  }
  

  h2,h4{
    color: var(--secondary-color);
  }

  .header {
    background-color: var(--primary-color);
    padding: 1rem 1rem;
    text-align: center;
    color: var(--secondary-color);
    border-bottom-left-radius: 1rem;
    font-weight: bold;
    font-size: x-large;
  }

  
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  .side {
    flex: 30%;
    padding: 20px;
    background-image: linear-gradient(#818da7, rgb(238, 224, 161));
  }
  
  .main {
    flex: 70%;
    padding: 20px;
  }
  
  .cover1 {
    background-color: var(--primary-color);
    width: 100%;
    padding: 20px;
  }
  .cover2 {
    background-color: var(--cover-color);
    width: 100%;
    padding: 20px;
  }
  
  a{
    text-decoration: none;
    color: var(--secondary-color);

}

  .footer{
    background-color: var(--primary-color);
    padding: 1rem 1rem;
    text-align: center;
    color: white;
    border-bottom-right-radius: 1rem;
}

 
  @media screen and (max-width: 600px) {
    .row {   
      flex-direction: column;
    }
  }