
@import url("css/avatar.css");
@import url("css/alert.css");
@import url("css/badge.css");
@import url("css/button.css");
@import url("css/card.css");
@import url("css/image.css");
@import url("css/input.css");
@import url("css/notify.css");
@import url("css/grid.css");
@import url("css/navbar.css");
@import url("css/modal.css");
@import url("css/rating.css");
@import url("css/text.css");
@import url("css/list.css");
:root{
    --primary-color: rgb(81, 97, 116);
    --secondary-color:white;
    --cover-color:#c7dde6;
    --dark-color:rgb(0, 0, 0);
    --red-color:rgb(248, 66, 66);
    --green-color:rgb(123, 228, 102);
    --blue-color:#008CBA;
}

* {
    box-sizing: border-box;
  }
  

  body {
    font-family: Arial;
    margin: 0;
    background-image: linear-gradient(#818da7, rgba(229, 180, 151, 0.986));
  }
  

  h2,h4{
    color: var(--secondary-color);
  }

  .header {
    background-color: var(--primary-color);
    padding: 1rem 1rem;
    text-align: center;
    color: var(--secondary-color);
    border-bottom-left-radius: 1rem;
    font-weight: bold;
    font-size: x-large;
  }

  
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  .side {
    flex: 30%;
    padding: 20px;
    background-image: linear-gradient(#818da7, rgb(167, 232, 243));
  }
  
  .main {
    flex: 70%;
    padding: 20px;
  }
  
  .cover1 {
    background-color: var(--primary-color);
    width: 100%;
    padding: 20px;
  }
  .cover2 {
    background-color: var(--cover-color);
    width: 100%;
    padding: 20px;
  }
  
  a{
    text-decoration: none;
    color: var(--secondary-color);

}

  .footer{
    background-color: var(--primary-color);
    padding: 1rem 1rem;
    text-align: center;
    color: var(--secondary-color);
    border-bottom-right-radius: 1rem;
}
  @media screen and (max-width: 600px) {
    .row {   
      flex-direction: column;
    }
  }